rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // RILCELL POS collections
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /accounts/{accountId} {
      allow read, write: if true;
    }
    match /transfers/{transferId} {
      allow read, write: if true;
    }
    match /presets/{presetId} {
      allow read, write: if true;
    }
    match /customers/{customerId} {
      allow read, write: if true;
    }
    match /settings/{document=**} {
      allow read, write: if true;
    }
  }
}
